*{
    /* border:1px solid white; */
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.app{
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    background: rgb(60,14,101);
background: radial-gradient(circle, rgba(60,14,101,1) 0%, rgba(4,0,6,1) 100%);

}
.projects{
    width: 70vw;
    height: 100%;
    padding: 50px;
}
.details{
    width: 30vw;
    height: 100%;
    font-family:monospace;
}
.pc{
    height:200px;
    width: 350px;
    /* background-color: gray; */
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    /* background-image: url('../src/assets/sc1.png'); */
    cursor: pointer;
}
.pc button{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin:  0 auto;
    width: 100px;
    height: 20px;
    background-color: rgb(31, 82, 201);
}
.pc button a{
    color: white;
text-decoration: none;
}
