@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    /* border:1px solid white; */
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.app{
    background-color: white;
}
.app2{
    background: rgb(60,14,101);
    background: radial-gradient(circle, rgba(60,14,101,1) 0%, rgba(4,0,6,1) 100%);

}
.font{
    font-family: 'Orbitron', sans-serif;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-1px) rotate(-1deg); }
    50% { transform: translateX(1px) rotate(1deg); }
    75% { transform: translateX(-1px) rotate(-1deg); }
    100% { transform: translateX(0); }
  }

  .animate-shake {
    animation: shake 0.5s ease infinite; /* Apply the shake animation */
  }
  