*{
    /* border:1px solid white; */
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.app{
    background-color: white;
}
.app2{
    background: rgb(60,14,101);
    background: radial-gradient(circle, rgba(60,14,101,1) 0%, rgba(4,0,6,1) 100%);

}
